@font-face {
    font-family: 'GoyangIlsan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CookieRunOTF-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes typing {
    0% {
        border-right: 1px solid #111;
    }
    50% {
        border-right: 1px solid #fff;
    }
    100% {
        border-right: 1px solid #111;
    }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

@keyframes updown {
    from {
        margin-top: -10px;
    }
    to {
        margin-top: 10px;
    }
}

@keyframes fadein-div {
    from {
        margin-top: 80px;
        opacity:0;
    }
    to {
        margin-top: 0px;
        opacity:1;
    }
}

@keyframes topbtn {
    from {
        width: 0px;
        height: 0px;
        opacity:0;
    }
    to {
        width: 42px;
        height: 42px;
        margin-top: 0px;
        opacity:1;
    }
}

a { color: #111; }

body{ -ms-overflow-style: none; } ::-webkit-scrollbar { display: none; }

.text-center {
    text-align: center;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mx-auto {
    margin: 0 auto;
}

.my-auto {
    margin: auto 0;
}

.click {
    cursor: pointer;
}

section {
    text-align: center;
}

.titles {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 80px;
    letter-spacing: 2px;
    position: relative;
}

.titles:before {
    content: '';
    width: 50px;
    height: 2px;
    background: #333;
    bottom: -15px;
    left: calc(50% - 25px);
    position: absolute;
}

html {
    overflow-y: hidden;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

body * {
    font-family: 'GoyangIlsan';
}

#home {
    text-align: center;
    display: table;
    height: 100vh;
}

@media (min-width: 991px) {
    .slow-down img {
        max-width: 600px;
    }

}

.vertical-middle {
    display: table-cell;
    vertical-align: middle;
}

.intro {
    display: inline-block;
    padding: 0 10px;
    animation-name: typing;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
}

.intro-bg {
    background: rgba(255,255,255,0.5);
    padding: 10px 30px;
    border: 1px solid #aaa;
}

.about-bg {
    justify-content: center;
    align-items: center;
    display: flex;
}

.about-bg figure {
    display: flex;
}

.introduce {
    margin: 0 30px;
}

.introduce .about-name {
    font-size: 20px;
}

.introduce h4 {
    margin-bottom: 10px;
}

.homepage-btn-list {
    margin: 0 auto;
    justify-content: center;
}

.homepage-btn-list li {
    margin: 0 5px;
}

.homepage-btn-list li > a {
    display: inline-flex;
}

.homepage-btn-list li > a > svg {
    margin: 0 8px;
}

.main-page {
    text-align: center;
    position: absolute;
    font-size: 50px;
    top: 20vh;
    left: 0;
    right: 0;
}

.slow-down {
    margin: 0 40px;
    padding-top: 20px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    font-size: 50px;
    top: 70vh;
    left: 0;
    right: 0;
}

#contact i {
    margin-right: 5px;
}

.h4 {
    margin-bottom: 10px;
}

.skill-name {
    margin-bottom: 10px;
}

#project ul.project-list {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

#project ul.project-list > li {
    width: calc(33.33333% - 20px);
    margin-right: 30px;
    margin-bottom: 30px;
}

#project .project-btn-list {
    margin-bottom: 40px;
}

#project .project-btn-list > button {
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 0 0 2px 0;
    margin: 0 10px;
    font-family: 'GoyangIlsan';
}

#project .project-btn-list > button.selected {
    border-color: #111;
    padding: 10px 0;
    font-weight: 600;
}

#project figure {
    position: relative;
    border-radius: 10px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}

#project figure:hover {
    transition: all .3s ease;
    -webkit-transform: scale(1.05);
}
#project figcaption {
    position: absolute;
    display: none;
    background: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    justify-content: center;
}

#project figcaption h4 {
    margin-bottom: 60px;
    word-break: keep-all;
}

#project figcaption .go-btn {
    color: #fff;
    border: 2px solid #fff;
    font-size: 14px;
    padding: 6px 18px;
    font-weight: 600;
}

#project figcaption .go-btn:hover {
    background: #fff;
    color: #111;
    border-color: #111;
    transition: .3s ease-in-out;
}

#project figure:hover figcaption {
    animation: fadein .3s linear;
    display: table;
}

#project figure:hover figcaption > div {
    display: table-cell;
    vertical-align: middle;
    margin: auto 0;
    height: 100%;
}

#home {
    width: 100%;
    background-image: url(../images/port_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

a.navbar-item.on {
    color:#FC5230;
}

#port-content {
    display: none;
}

.navbar.is-fixed-top {
    z-index: -10;
}

#title-img {
    animation: updown 0.75s linear 0s infinite alternate;
}

#title-img, #more-btn {
    max-width: 90%;
}

footer {
    background: #F0C6A0;
    color: #fff;
    padding: 20px;
    text-align: right;
    font-size: 0.8rem;
    font-weight: 600;
}

.timeline {
    width: 100%;
    margin: 100px 0 0;
    position: relative;
    padding-bottom: 120px;
}

.timeline:before {
    background: #111;
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin-left: -1px;
    position: absolute;
    width: 2px;
    z-index: 0;
}

.timeline .timeline-body {
    position: relative;
    z-index: 1 !important;
}

.timeline .timeline-year {
    position: relative;
    display: block;
    clear: both;
    margin: 0 auto 10px;
    background: #FFF;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
}

.timeline .timeline-box {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 20px 10px 10px 10px;
    padding: 10px;
    width: 45%;
    float: left;
    z-index: 1;
    margin-bottom: 30px;
    background: #fff;
}

.timeline .timeline-date {
    font-size: 0.85em;
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.timeline .timeline-divide {
    margin: 0 auto;
    clear: both;
}

.timeline .timeline-box:before {
    border-radius: 50%;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin-right: -5px;
    position: absolute;
    left: 50%;
    margin-top: 22px;
    transform: translate3d(-50%, 0, 0);
    z-index: 1;
    background: #111;
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #aaa;
    opacity: 0.5;
}

.timeline .timeline-box.left .timeline-box-arrow {
    transform: rotate(45deg);
    content: '';
    display: block;
    background: #fff;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    float: right;
    height: 14px;
    margin-top: 17px;
    margin-right: -18px;
    width: 14px;
    z-index: 0;
}

.timeline .timeline-box.right .timeline-box-arrow {
    transform: rotate(45deg);
    content: '';
    display: block;
    background: #fff;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    float: left;
    height: 14px;
    margin-top: 17px;
    margin-left: -18px;
    width: 14px;
    z-index: 0;
}

.timeline .timeline-box.right {
    float: right;
}

#about, #skill, #certificate, #project, #contact {
    animation: fadein-div .5s linear;
    -moz-animation: fadein-div .5s linear;
    -webkit-animation: fadein-div .5s linear;
    -o-animation: fadein-div .5s linear;
}

#certificate li {
    margin-bottom: 20px;
}

.top {
    text-align: center;
    position: fixed;
    bottom: 30px;
    cursor: pointer;
    right: 30px;
    padding: 3px 9px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    display: none;
    font-size: 24px;
    z-index: 2;
    transition: .2s all ease-in-out;
}

.top:hover {
    background: #F0C6A0;
}

.d-none {
    display: none;
}

@media (min-width: 992px) {
    #project ul.project-list > li:not([style*="display: none;"]):nth-child(3n) {
        margin-right: 0px;
    }
}

@media (max-width: 992px) {
    #project ul.project-list {
    }

    #project ul.project-list > li {
        width: calc(50% - 15px);
    }

    #project ul.project-list > li:not([style*="display: none;"]):nth-child(2n) {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    #project ul.project-list > li:not([style*="display: none;"]) {
        width: 100%;
        margin-right: 0px;
    }

    #project figure {
        background-size: 100% auto;
    }
}