@import '//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css';

body {
  color: #111;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  padding: 0;
  margin: 0;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

section {
  padding: 6rem 0.4rem;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: unset;
  color: #111;
}

a:visited {
  color: #111;
}

@font-face {
  font-family: 'KoPubDotumMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'KoPubDotumMedium';
}

::-webkit-scrollbar {
  display: none;
}
